{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">CHOQUE-GYM</h1>
                    <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p> -->

                    <!-- DataTales Example -->
                     <div class="card shadow mb-4">
                      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary text-muted">
                            <a href="{% url 'home' %}">Varanda</a> / Lista Membru Rejistradu
                        </h6>
                        <div class="d-flex justify-content-between">
                        <a class="btn btn-sm btn-primary btn-icon-split mr-1" href="{% url 'create_enrollment' %}">
                            <span class="icon text-white-50">
                                <i class="fas fa-plus"></i>
                            </span>
                            <span class="text">Aumenta</span>
                        </a>
                        <a class="btn btn-sm btn-primary btn-icon-split mr-1" href="{% url 'pdf_enroll' %}" target="_blank">
                            <span class="icon text-white-50">
                                <i class="fas fa-print"></i>
                            </span>
                            <span class="text">Pdf</span>
                        </a>
                        <a class="btn btn-sm btn-primary btn-icon-split" href="{% url 'csv_enroll' %}">
                            <span class="icon text-white-50">
                                <i class="fas fa-print"></i>
                            </span>
                            <span class="text">Csv</span>
                        </a>
                        </div>
                    </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Naran Membru</th>
                                            <th>Klasse Gym</th>
                                            <th>Data Ohin</th>
                                            <th>Total Pagamentu</th>
                                            <th>Action</th>
                                          </tr>
                                    </thead>
                                    <tbody>
                                        {% for data in dadus %}
                                        <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td><a href="{% url 'detail_enrollment' data.id %}" style="color: #2b90d9;">{{ data.member.naran }}</a></td>
                                            <td>{{ data.gym_class }}</td>
                                            <td>{{ data.enrollment_date }}</td>
                                            <td>{{ data.get_total_payment }}</td>
                                            <td><a href="{% url 'update_enrollment' data.id %}" class="btn btn-sm btn-success">
                                              <span class="icon">
                                                  <i class="fas fa-edit"></i>
                                              </span></a>
                                             <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delete-{{ data.id }}" style="text-decoration: none"><i class="fa fa-trash"></i></button>
                                          </td>
                                          <div class="modal fade" id="delete-{{ data.id}}"><!-- modal -->
                                            <div class="modal-dialog">
                                              <div class="modal-content">
                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                  <h4 class="modal-title">Hamoos Dadus Klasse Gym</h4>
                                                  <button type="button" class="close" data-dismiss="modal">X</button>
                                                </div>
                                                <!-- Modal body -->
                                                <div class="modal-body">
                                                  Ita Boot hakarak hamoos dadus klasse gym ho naran {{ data.member.naran | upper }}?
                                                </div>
                                                <!-- Modal footer -->
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                                  <a href="{% url 'delete_enrollment' data.id  %}" class="btn btn-info">Yes</a>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
   
{% endblock %}