{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">CHOQUE-GYM</h1>
                    <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p> -->

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary text-muted"><a href="{% url 'home' %}">Varanda</a> / Lista Membru Jeral</h6>
                            <div class="d-flex justify-content-between">
                            <a class="btn btn-sm btn-primary btn-icon-split mr-1" href="{% url 'create_member' %}">
                                <span class="icon text-white-50">
                                    <i class="fas fa-plus"></i>
                                </span>
                                <span class="text">Aumenta</span>
                            </a>
                            <a class="btn btn-sm btn-primary btn-icon-split mr-1" href="{% url 'pdf_member' %}" target="_blank">
                                <span class="icon text-white-50">
                                    <i class="fas fa-print"></i>
                                </span>
                                <span class="text">Pdf</span>
                            </a>
                             <a class="btn btn-sm btn-primary btn-icon-split" href="{% url 'csv_member' %}">
                                <span class="icon text-white-50">
                                    <i class="fas fa-print"></i>
                                </span>
                                <span class="text">Csv</span>
                            </a>
                          </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                      <tr>
                                        <th>No</th>
                                        <th>Nu Id</th>
                                        <th>Naran Kompletu</th>
                                        <th>Seksu</th>
                                        <th>Naturalidade</th>
                                        <th>Data Moris</th>
                                        <th>Data Join</th>
                                        <th>Data Remata</th>
                                        <th>Durasaun</th>
                                        <th>Foto</th>
                                        <th>Pdf</th>
                                        <th>Aksaun</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        {% for data in dadus %}
                                        <tr>
                                          <th scope="row">{{ forloop.counter }}</th>
                                          <td>{{ data.nu_id }}</td>
                                          <td><a href="{% url 'detail_member' data.id %}" style="color: #2b90d9;">{{ data.naran }}</a></td>
                                          <td>{{ data.sexo }}</td>
                                          <td>{{ data.naturalidade }}</td>
                                          <td>{{ data.data_moris }}</td>
                                          <td>{{ data.join_date }}</td>
                                          <td>{{ data.end_date }}</td>
                                          <td> Fulan {{ data.get_duration_in_months }}</td>
                                          <td>
                                            {% if data.fotografia %}
                                            <img src="{{ data.fotografia.url }}" width="70px" height="70px"/>
                                            {% else %}
                                            Fotografia La Iha
                                            {% endif %}
                                          </td>
                                          <td>
                                            {% if data.documentos %}
                                            <a href="{{data.documentos.url}}" target="_blank" style="color: #2b90d9;">Haree Dokumentu</a>
                                            {% else %}
                                            Dokumentu La iha
                                            {% endif %}
                                          </td>
                                          <td><a href="{% url 'update_member' data.id %}" class="btn btn-sm btn-success">
                                            <span class="icon">
                                                <i class="fas fa-edit"></i>
                                            </span></a>
                                           <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delete-{{ data.id }}" style="text-decoration: none"><i class="fa fa-trash"></i></button>
                                        </td>
                                        <div class="modal fade" id="delete-{{ data.id}}"><!-- modal -->
                                          <div class="modal-dialog">
                                            <div class="modal-content">
                                              <!-- Modal Header -->
                                              <div class="modal-header">
                                                <h4 class="modal-title">Hamoos Dadus Membru</h4>
                                                <button type="button" class="close" data-dismiss="modal">X</button>
                                              </div>
                                              <!-- Modal body -->
                                              <div class="modal-body">
                                                Ita Boot hakarak hamoos dadus ho naran {{ data.naran | upper }}?
                                              </div>
                                              <!-- Modal footer -->
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                                <a href="{% url 'delete_member' data.id  %}" class="btn btn-info">Yes</a>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
{% endblock %}