{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">CHOQUE-GYM</h1>
                    <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p> -->

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary text-muted">
                                <a href="{% url 'home' %}">Varanda</a> / Lista Klasse Gym
                            </h6>
                            <div class="d-flex justify-content-between">
                            <a class="btn btn-sm btn-primary btn-icon-split mr-1" href="{% url 'create_gym_class' %}">
                                <span class="icon text-white-50">
                                    <i class="fas fa-plus"></i>
                                </span>
                                <span class="text">Aumenta</span>
                            </a>
                            <a class="btn btn-sm btn-primary btn-icon-split mr-1" href="{% url 'pdf_gymclass' %}" target="_blank">
                                <span class="icon text-white-50">
                                    <i class="fas fa-print"></i>
                                </span>
                                <span class="text">Pdf</span>
                            </a>
                            <a class="btn btn-sm btn-primary btn-icon-split" href="{% url 'csv_gymclass' %}">
                                <span class="icon text-white-50">
                                    <i class="fas fa-print"></i>
                                </span>
                                <span class="text">Csv</span>
                            </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                      <tr>
                                        <th>No</th>
                                        <th>Naran Klasse Gym</th>
                                        <th>Deskrisaun</th>
                                        <th>Oras Hahu</th>
                                        <th>Oras Remata</th>
                                        <th>Loron</th>
                                        <th>Pagementu/Fulan</th>
                                        <th>Fotografia Klasse Gym</th>
                                        <th>Aksaun</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        {% for data in dadus %}
                                        <tr>
                                          <th scope="row">{{ forloop.counter }}</th>
                                          <td><a href="{% url 'detail_gymclass' data.id %}" style="color: #2b90d9;">{{ data.name }}</a></td>
                                          <td>{{ data.description }}</td>
                                          <td>{{ data.start_time }}</td>
                                          <td>{{ data.end_time }}</td>
                                          <td>{{ data.days_of_week }}</td>
                                          <td>{{ data.payment_per_month }}</td>
                                          <td>
                                            {% if data.fotografia %}
                                            <img src="{{ data.fotografia.url }}" width="70px" height="70px"/>
                                            {% else %}
                                            Fotografia La Iha
                                            {% endif %}
                                          </td>
                                          <td><a href="{% url 'update_gym_class' data.id %}" class="btn btn-sm btn-success">
                                            <span class="icon">
                                                <i class="fas fa-edit"></i>
                                            </span></a>
                                           <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delete-{{ data.id }}" style="text-decoration: none"><i class="fa fa-trash"></i></button>
                                        </td>
                                        <div class="modal fade" id="delete-{{ data.id}}"><!-- modal -->
                                          <div class="modal-dialog">
                                            <div class="modal-content">
                                              <!-- Modal Header -->
                                              <div class="modal-header">
                                                <h4 class="modal-title">Hamoos Dadus Klasse Gym</h4>
                                                <button type="button" class="close" data-dismiss="modal">X</button>
                                              </div>
                                              <!-- Modal body -->
                                              <div class="modal-body">
                                                Ita Boot hakarak hamoos dadus klasse gym ho naran {{ data.name | upper }}?
                                              </div>
                                              <!-- Modal footer -->
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                                <a href="{% url 'delete_gym_class' data.id  %}" class="btn btn-info">Yes</a>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}