<!-- password_change_done.html -->
{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Change Done</title>
    <link rel="stylesheet" href="{% static 'path/to/your/css/file.css' %}">
    <!-- Add any other CSS files here -->
</head>
<body>
{% block content %}
<div class="container">
    <h2>Password Troka ho Sucessu</h2>
    <a href="{% url 'home' %}" class="btn btn-primary"> Fila ba Varanda</a>
</div>
{% endblock %}
</body>
</html>
